@(title: String)(content: Html)(implicit messages: Messages) @* 매개변수 리스트 *@

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title> @* 타이틀 출력 *@
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
        <div class="screenshot">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@routes.HomeController.index()">@Messages("application.name")</a>
                </div>
            </div>
            <div class="container">
                @content @* 페이지 컨텐트 블럭 출력 *@
            </div>
        </div>
    </body>
</html>
